.formRegister { 
    border-radius: 20px;
    border: .5px solid gray;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    &__title { 
        display: flex;
        font-size: 20px;
        justify-content: center;
        font-weight: bold;
    }
    animation: moveInLeft 1s ease-in backwards;
}
@keyframes moveInLeft {
    0% { 
        transform: translateX(-200px);
    }
    50% { 
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0)
    }
}