.formLogin { 
    border-radius: 20px;
    border: 1px solid gray;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    &__title { 
        display: flex;
        font-size: 20px;
        justify-content: center;
        font-weight: bold;
    }
}