.overlayIndex {
    position: fixed;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.562);
    pointer-events: none;
    .uiLoadingIndex {
        position: inherit;
        height: 20rem;
        width: 25rem;
        position: absolute;
        top: 50%;
        left: 33%;
        transform: translate(-50%, -50%);
      }
}