.postHome {
  &__post {
    display: flex;
    align-items: center;
    margin: 2rem;
    &-icon {
        display: flex;
        align-items: center;
        margin: 5px;
        line-height: 0;
    }
    &-image {
    }
    &__content {
      &-title {
        font-size: 2rem;
      }
      &-date {
        display: flex;
        align-items: center;
      }
      &-description {
        font-size: 1rem;
      }
      &-action {
          font-size: 1.5rem;
          color: blue;
          margin-top: 20px;
      }
    }
  }
}
